body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(img.jpg);
  background-size: cover;
}
.container {
  width: 100%;
  max-width: 90vh;
    background: rgb(205, 129, 167);
  padding: 30px;
  box-shadow: 0 10px 10px rgba(10, 10, 10, 0.1);
  border-radius: 10px;
  padding-left: 7%;

}
h2, h3 {
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  color: rgb(14, 15, 15);
}
th, td {
  border: 1px solid #af1313;
  padding: 10px;
  text-align: center;
  color: rgb(17, 20, 20);
}
select, input[type="date"], input[type="number"], input[type="text"], input[type="password"] {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  background-color: #007bff;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: #0056b3;
}
#logoutBtn {
  float: right;
  background-color: #dc3545;
}
.hidden {
  display: none;
}
.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}